# The ID of the Taproot Asset that represents STRK. 
# Used by the application to know which asset to look for in the wallet and channels.
VITE_TAPROOT_ASSET_ID=9745fa9095b11cf9f626fa71cf482197a2dee1796a2d6f66a9f69d234d3b6a1a
